body{
    font-size:14px;
    margin: 0;
    padding: 0;
}

.clear {
    overflow: hidden;
    clear: both;
}

header {
    height: 3em;
    padding: 5px 20px;
    background: #333;
}

header span img{
    vertical-align: center;
    height: 3em;
}
nav {
    position: absolute;
    top:.5em;
    right: 1em;
}
nav ul li {
    line-height: 1em;
    float: left;
    margin-left: 1em;
}

nav ul li a {
    text-decoration: none;
    color: white;
}
img{
    height: 10em;
}
body{
    background: lightgray;
}
article,aside{
    margin: 20px;
    background: white;
    padding: 20px;  
}
footer{
    display: block;
    color:white;
    background: black;
    text-align: center;
}
table{
    width: 80%;
    border: 2px solid #ccc;
    border-collapse: collapse; 
}
table thead th{
    background: black;
    color: white;
}
table tbody tr:last-child{
    background: #ccc;
}

form{
    margin-left: 200px;
}

.w30{
    display: inline-block;
    width: 30%;
    text-align: right;
    padding-right: 10px;
}
form span{
    display: block;
    color:#ccc;
    font-size: .6em;
    margin-left: 31%;
}
.texttop{
    vertical-align: top;
}
input[type=submit]{
    margin-top: 3em;
    border: 0;
    border-radius: 5px;
    height: 3em;
    width: 80%;
    background: deepskyblue;
}